@import "./base.css";
/* start header */
.header{
    position: sticky;
    top: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.header .logo img{
    width: 35px;
}
.header .logo a{
    color: var(--mainColor);
}
.header .nav a{
    color: #101928;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}
.header .auth a{
    font-family: var(--subFont), serif;
    border: 1px solid var(--mainColor);
    padding: 10px 50px;
    border-radius: 5px;
}
.header .auth a:first-of-type{
    color: var(--mainColor);
}
.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
}
@media (max-width: 1000px) {
    .nav{
        display: none;
    }
}
/* end header */

/* start testimonials */
.testimonials{
    text-align: center;
    padding: 40px 0;
    background-color: white;
}
.testimonials h2{
    margin-bottom: 40px;
}
.testimonials .row{
    gap: 70px;
}
.testimonial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 70px) / 2);
    align-items: flex-start;
    box-shadow: 0px 10.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: relative;
    text-align: left;
}
.testimonial:after{
    content: '';
    border-top: 50px solid #E8E8E8;
    border-left: 50px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.testimonials .user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.testimonials .user-info img{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.testimonials .user-info .user-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.testimonials .user-info .user-data span{
    font-size: 12px;
    color: #969696;
}
.testimonials .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.testimonials .rating img{
    width: 20px;
    height: 20px;
}
.testimonials q{
    color: #646464;
}
/* end testimonials */

/* start footer */
.footer{
    background-color: #393E46;
    padding: 100px 0;
}
.footer .footer-start, .footer .footer-end{
    width: calc((100% - 40px) / 2);
}
.footer p,.footer a{
    color: #F4F4F4;
}
.footer h2,.footer .logo a{
    color: #fff;
}
.footer .row{
    gap: 40px;
}
.footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 45px;
}
.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-family: var(--secondSubFont), serif;
}
.footer .footer-start .logo img{
    width: 35px;
}
.footer .footer-start p{
    font-size: 14px;
    font-weight: 300;
}
.footer .footer-start .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footer .footer-start .icons img{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 5px;
    box-sizing: content-box;
}
.footer .footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer .footer-end .footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
.footer .footer-end .footer-item ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
/* end footer */