@import "./base.css";
/* start header */
.header{
    position: sticky;
    top: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    z-index: 1;
}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.header .logo img{
    width: 35px;
}
.header .logo a{
    color: var(--mainColor);
}
.header .nav a{
    color: #101928;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}
.header .auth a{
    font-family: var(--subFont), serif;
    border: 1px solid var(--mainColor);
    padding: 10px 50px;
    border-radius: 5px;
}
.header .auth a:first-of-type{
    color: var(--mainColor);
}
.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: var(--secondSubColor);
}
.bars-menu{
    display: none;
}
@media (max-width: 1050px) {
    .container{
        width: calc(100% - 60px);
    }
    .nav{
        display: none;
    }
    .bars-menu{
        display: flex;
        flex-wrap: wrap;
    }
    .auth{
        display: none;
    }
}
/* end header */

/* start begin */
.begin{}
.begin .begin-elements{
    flex-basis: 400px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 35px;
}
.begin .begin-elements:first-child{
    flex-grow: 3;
}
.begin .begin-elements:last-child{
    flex-grow: 1;
}
.begin .begin-elements .begin-element{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.begin .begin-elements .begin-element p{
    color: var(--mainColor);
}
.begin .begin-elements .begin-element h1{
    font-size: 45px;
}
.begin .begin-elements .begin-element span{
    color: var(--mainColor);
    font-weight: bold;
}
.begin .begin-elements .begin-element .active{
    font-weight: normal;
    color: #969696;
    font-size: 15px;
}
.begin .begin-elements .begin-element:last-child{
    flex-direction: row;
}
.begin .begin-elements .begin-element:last-child a{
    font-weight: bold;
    padding: 5px 30px;
    font-size: 12px;
    border-radius: 7px;
}
.begin .begin-elements .begin-element:last-child a:first-child {
    background-color: var(--mainColor);
    color: var(--secondSubColor);
    align-content: center;
}
.begin .begin-elements .begin-element:last-child a:last-child {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
}
.begin .begin-elements .begin-element:last-child a:last-child img{
    width: 25px;
}
.begin .begin-elements .img{
    width: 100%;
}
@media (max-width: 720px) {
    .begin .begin-elements .begin-element h1{
        font-size: 32px;
    }
    .begin .begin-elements .begin-element p, .begin .begin-elements .begin-element .active{
        font-size: 15px;
    }
}
@media (max-width: 1050px) {
    .begin .begin-elements {
        padding: 15px;
    }
}
/* end begin */

/* start services */
.services{
    background-color: #F5F5F5;;
}
.services .row{
    gap: 20px;
}
.services .sub-service,.services .service{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 35px 15px;
    margin-block: 50px;
}
.services .sub-service{
    flex-basis: 400px;
    flex-grow: 2;
}
.services .sub-service span{
    font-size: 15px;
    color: var(--mainColor);
}
.services .sub-service h2{
    font-size: 30px;
}
.services .sub-service p{
    font-size: 15px;
    color: #969696;
}
.services .service{
    flex-basis: 280px;
    background-color: var(--mainColor);
    color: var(--secondSubColor);
    border-radius: 8px;
    flex-grow: 1;
}
.services .service .img{
    width: 30px;
    height: 30px;
    background-color: var(--secondSubColor);
    padding: 5px;
    box-sizing: content-box;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.services .service .img img{
    width: 100%;
}
.services .service h3{
    font-size: 15px;
}
.services .service p{
    font-size: 12px;
    color: #DDD;
}
.services .arrows{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 20px;
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px 5px;
}
.services .arrows .arrow{
    background-color: var(--subColor);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 50%;
}
.services .arrows .arrow:last-child{
    transform: rotate(180deg);
}
.services .arrows .arrow img{
    width: 100%;
}
@media (max-width: 720px) {
    .services .sub-service h2{
        font-size: 20px;
    }
}
@media (max-width: 1050px) {
    .services .row{
        gap: 10px;
    }
    .services .sub-service, .services .service{
        padding: 25px 15px;
        margin-block: 20px;
    }
}
/* end services */

/* start selectedCourses */
.selectedCourses{
    background: linear-gradient(180deg, #545BE8 0%, #272DB0 100%);
    color: var(--secondSubColor);
}
.selectedCourses .course-element{
    flex-basis: 400px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 35px;
}
.selectedCourses .course-element:first-child{
    flex-grow: 1;
}
.selectedCourses .course-element:last-child{
    flex-grow: 3;
}
.selectedCourses .course-element h2{
    font-size: 30px;
}
.selectedCourses .course-element p{
    color: #DDDDDD;
    font-size: 13px;
}
.selectedCourses .course-element span{
    color: var(--subColor);
    font-size: 14px;
}
.selectedCourses .course-element img{
    width: 100%;
}
.selectedCourses .course-element .crs-element{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.selectedCourses .course-element .crs-element:first-child{
    flex-direction: column;
    gap: 15px;
}
.selectedCourses .course-element .crs-element:last-child{
    text-align: center;
}
.selectedCourses .course-element .crs-element:last-child span{
    font-weight: 700;
    font-size: 20px;
}
@media (max-width: 540px) {
    .selectedCourses .course-element .crs-element {
        gap: 60px;
    }
}
@media (max-width: 720px) {
    .selectedCourses .course-element h2{
        font-size: 20px;
    }
}
@media (max-width: 1050px) {
    .selectedCourses .course-element{
        padding: 15px;
    }
}
/* end selectedCourses */

/* start courses */
.courses{
    padding: 40px 0;
    background-color: var(--secondSubColor);
}
.courses .row{
    gap: 40px;
    align-items: flex-start;
}
.courses .course-items, .courses .course-description{
    flex-basis: 450px;
    flex-grow: 1;
}
.courses .course-items{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.courses .course-items .course{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex-grow: 1; 
    box-shadow: 3px 8px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.courses .course-items .course-card{
    position: relative;
}
.courses .course-items .course-card img{
    filter: brightness(80%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.courses .course-items .course-card img{
    width: 100%;
}
.courses .course-items .course-card .course-info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--secondSubColor);
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.courses .course-items .course-card .course-info span:first-of-type{
    background-color: var(--mainColor);
    padding: 7px 15px;
    font-size: 15px;
    margin-top: 20px;
}
.courses .course-items .course-card .course-info span:last-of-type{
    font-size: 22px;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
}
.courses .course-items .course .course-details{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}
.courses .course-items .course .course-details .row:first-child{
    align-items: center;
}
.courses .course-items .course .course-details .row:first-child span{
    color: var(--mainColor);
    font-size: 10px;
}
.courses .course-items .course .course-details .row:last-child{
    justify-content: flex-start;
    font-size: 15px;
    color: #969696;
}
.courses .course-description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.courses .course-description span{
    color: var(--mainColor);
    font-size: 15px;
    font-family: var(--subFont);
}
.courses .course-description h2{
    font-size: 30px;
}
.courses .course-description p{
    color: #969696;
    font-size: 15px;
}
.courses .course-description a{
    font-family: var(--subFont), serif;
    border: 1px solid var(--mainColor);
    padding: 10px 20px;
    border-radius: 5px;
    width: 28%;
    background-color: var(--mainColor);
    color: var(--secondSubColor);
    text-align: center;
}
@media (max-width: 390px) {
    .courses .course-description a{
        width: 40%;
    }
}
@media (max-width: 720px) {
    .courses .course-description h2{
        font-size: 23px;
    }
}
@media (max-width: 999px) {
    .courses .course-description{
        order: -1;
    }
}
/* end courses */

/* start testimonials */
.testimonials{
    text-align: center;
    padding: 40px 0;
    background-color: white;
}
.testimonials h2{
    margin-bottom: 40px;
}
.testimonials .row{
    gap: 70px;
}
.testimonial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    flex-basis: 320px;
    flex-grow: 1;
    align-items: flex-start;
    box-shadow: 0px 10.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: relative;
    text-align: left;
}
.testimonial:after{
    content: '';
    border-top: 50px solid #E8E8E8;
    border-left: 50px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.testimonials .user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.testimonials .user-info img{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.testimonials .user-info .user-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.testimonials .user-info .user-data span{
    font-size: 12px;
    color: #969696;
}
.testimonials .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.testimonials .rating img{
    width: 20px;
    height: 20px;
}
.testimonials q{
    color: #646464;
}
/* end testimonials */

/* start footer */
.footer{
    background-color: #393E46;
    padding: 100px 0;
}
.footer p,.footer a{
    color: #F4F4F4;
}
.footer h2,.footer .logo a{
    color: #fff;
}
.footer .row{
    gap: 40px;
}
.footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 45px;
    flex-basis: 400px;
    flex-grow: 1;
}
.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-family: var(--secondSubFont), serif;
}
.footer .footer-start .logo img{
    width: 35px;
}
.footer .footer-start p{
    font-size: 14px;
    font-weight: 300;
}
.footer .footer-start .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footer .footer-start .icons img{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 5px;
    box-sizing: content-box;
}
.footer-end{
    flex-grow: 1;
}
.footer .footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer .footer-end .footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
.footer .footer-end .footer-item ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
/* end footer */